:root {
    --brand-100: #F8F9FE;
    --brand-200: #E0E8FF;
    --brand-300: #D6E1FF;
    --brand-400: #5B47CE;
    --brand-500: #382AE1;
    --dark-gray: #1E2C53;
    --light-gray: #8C9099;
    --link: #3E52A3;
    --transparent: rgba(255 255 255 0.1);

    --space: 16px;
    --radius: 16px;
}

body {
    margin: 0;
    font-family: 'Red Hat Display', 'Roboto', sans-serif;
}

h1, p {
    margin: 0;
}

a {
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    border: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.button {
    border-radius: var(--radius);
    letter-spacing: .02em;
    padding: var(--space);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.button:hover,
.button:focus {
    transform: scale(0.95);
}

.button-primary {
    border: 1px solid var(--brand-400);
    color: var(--brand-100);
    background: var(--brand-500);
    box-shadow: 0 22px 25px -2px rgba(118, 108, 241, 0.32), 0 8px 10px -5px rgba(118, 108, 241, 0.08);
}
.button-primary:hover,
.button-primary:focus {
    box-shadow: 0 20px 25px -2px rgba(118, 108, 241, 0.32), 0 6px 10px -5px rgba(118, 108, 241, 0.08);
}

.button-transparent {
    border: 1px solid var(--transparent);
    background: var(--transparent);
    color: var(--light-gray);
}
.button-transparent:hover {
    border-color: var(--light-gray);
    background: var(--brand-100);
}

.text-dark {
    color: var(--dark-gray);
}
.text-center {
    text-align: center;
}
.text-small {
    font-size: 0.9rem;
}
.text-medium {
    font-size: 1.1rem;
}
.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}
.leading-wide {
    line-height: 1.625;
}

.background {
    background: var(--brand-200);
    background-repeat: no-repeat;
    background-image: url('/images/pattern-background-mobile.svg');
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.card-container {
    margin: 0 auto;
    max-width: 330px;
}

.card {
    background: white;
    border-radius: var(--radius);
    overflow: hidden;
}

.card_image img {
    width: auto;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    padding: 24px;
}
.card_content p {
    line-height: 1.5;
}

.text-light {
    color: var(--light-gray);
}

.plan {
    padding: var(--space);
    display: flex;
    align-items: center;
    gap: var(--space);
    background: var(--brand-100);
    border-radius: var(--radius);
}

.plan_content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.plan_change a {
    color: var(--brand-400);
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
}
.attribution {
    margin: 0 auto;
    padding: 16px;
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: var(--link);
}

@media only screen and (min-width: 376px) {
    .background {
        background-repeat: repeat-x;
        background-image: url('/images/pattern-background-desktop.svg');
    }

    .card-container {
        max-width: 450px;
    }

    .card_image img {
        object-fit: cover;
    }

}